html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  font-family: "Open Sans", "Verdana", sans-serif;
}
